<div class="row" id="details-sale" *ngIf="loadPage">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" [routerLink]="['/list-sales']">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Atras
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Detalles del dia - {{sale.day | date: 'medium'}}</h2>
      </div>
    </div>

    <div class="row" *ngIf="sale">
      <div class="col-12">
        
        <div class="row" *ngFor="let item of listItemsSold">
          <div class="col-12 mt-2 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total venta: {{item.total}}</h5>
                <p>Articulos vendidos: {{item.sale.length}}</p>
                <button type="button" (click)="viewArticles(item.sale)" class="btn btn-primary">Ver articulos</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row" *ngIf="!sale.items_sold">
      <div class="col-12">
        No hay ventas para mostrar
      </div>
    </div>

  </div>
</div>

<ng-template #modal_articles let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Articulos vendidos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <mat-table [dataSource]="itemsPreview" class="mat-elevation-z8">
      <!-- Article Column -->
      <ng-container matColumnDef="article">
        <mat-header-cell *matHeaderCellDef> Articulo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.article}} </mat-cell>
      </ng-container>
    
      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
      </ng-container>
    
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let element">$ {{element.price}} </mat-cell>
      </ng-container>
    
      <!-- totalPrice Column -->
      <ng-container matColumnDef="totalPrice">
        <mat-header-cell *matHeaderCellDef> Total Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let element">$ {{element.totalPrice}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</ng-template>

<div class="h-100" *ngIf="!loadPage">
  <div class="spinner">
    <img src="assets/img/spinner.gif" alt="">
  </div>
</div>